
/* font styles: using system fonts*/
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),
       local(".HelveticaNeueDeskInterface-Light"),
       local(".LucidaGrandeUI"),
       local("Ubuntu Light"),
       local("Segoe UI Light"),
       local("Roboto-Light"),
       local("DroidSans"),
       local("Tahoma");
}

/* font for ampersand */
@font-face {
  font-family: Ampersand;
  src: local('Cochin'),
    local('Baskerville-Italic');
  unicode-range: U+26;
}

/* Keyframes for the bounce animation */

@keyframes animationBounce {
  60%, 80%, to {
    transform: translateY(1em);
    animation-timing-function: ease;
    }
    90% {
      transform: translateY(0em);
    }
}

@keyframes pulseGrow {
  0% {
    outline: rgba(255, 231, 36, 1.000) solid .2rem;
  }
  50% {
    outline: rgba(255, 231, 36, 0) solid 0rem;
  }
  100% {
    outline: rgba(255, 231, 36, 1.000) solid .2rem;
  }
}

@keyframes animationFadeIn {
  from {
      opacity: 0;
      padding-top: 2em;
      animation-timing-function: ease;
    }
    to {
      opacity: 1;
    }
}

@keyframes labelFadeIn {
  from {
      opacity: 0;
      transform: translateY(-1.2em);
      animation-timing-function: ease;
    }
    to {
      transform: translateY(0em);
      opacity: 1;
    }
}

@keyframes backgroundAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position:0% 50%;
    }
}

/* variables */

:root {
  --bg-color-one: linear-gradient(135deg, rgba(255, 184, 43, 1), rgba(255, 184, 43, 1) 20%, rgba(255, 22, 174, 1));
  --bg-color-two: linear-gradient(135deg, rgba(255, 22, 174, 1), rgba(255, 22, 174, 1) 20%, rgba(255, 184, 43, 1));
  --grid-standard-template: 8% auto 8%;
  --grid-desktop-template: 25% 25% 25% 25%;
  --transition: .5s ease;
  --animation-bounce: animationBounce .2s cubic-bezier(.1,.25,1,.25);
  --animation-fadein: animationFadeIn 1.8s cubic-bezier(.1,.25,1,.25);
  --animation-labelfade: labelFadeIn .5s cubic-bezier(.1,.25,1,.25);
  --animation-background: backgroundAnimation 20s ease infinite;
}

/* media query for the reduced motion function to stop all transitions*/

@media screen and (prefers-reduced-motion) {
  :root {
  --transition: 0;
  --animation-bounce: 0;
  --animation-fadein: 0;
  --animation-background: 0;
  }
}

/*for knowing where you are use outline animation for every focus*/
:focus {
  animation: pulseGrow 1.8s infinite;
}

/* sort of reset ? hate those margins!*/
body {
  margin: 0;
  font-family: "system";
  filter: none;
}

body > h1:first-of-type, body > nav:first-of-type > h1 {
  display: none;
}

/* Navigation bar on the main page*/

body > nav:first-of-type {
  position: absolute;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

nav > ul > li   {
  justify-self: center;
  align-self: center;
  padding: .8em;
}


ul li > ul   {
  display: none;
}

ul li ul > li {
  margin-top: 1em;
}

ul li:focus-within > ul   {
  display: block;
  position: absolute;
  margin-top: .8em;
  transition: position ;
}

ul li:hover > ul   {
  display: block;
  position: absolute;
  margin-top: .8em;
}

nav ul li > a {
  color: black;
  text-decoration: none;
  border-bottom: .1rem solid black;
  margin-top: 2em;
}

[href="/products"]::before {
  content: '';
  color: black;
  text-decoration: none;
  line-height: .1rem solid black;
}

[href="/products"]:focus::before {
  padding-bottom: .2em;
}

/* header styling */

header {
  background: var(--bg-color-one);
  background-size: 400% 400%;
  animation: backgroundAnimation 20s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: Ampersand, system, sans-serif;
  animation: var(--animation-fadein);
}

img {
  width: 50vw;
}


/* first Article styling  */

main article:first-of-type > h1, img, p {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: center;
}

@media screen and (min-width: 60em) {
  main article:first-of-type {
    grid-template-columns: 13% auto 34% 13%;
  }
}


@media screen and (min-width: 60em) {
  main article:first-of-type > h1 {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  main article:first-of-type > img {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 35vw;
  }

  main article:first-of-type > p {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}

article > h1, img, p  {
  margin-bottom: 1em;
}

main > nav {
  background: linear-gradient(19deg, rgba(255, 179, 47, 1.000) 15%, #657 65%, rgba(255, 67, 137, 1.000) 0);
  background-size: 9% 100%;
  animation: backgroundAnimation 20s ease infinite;
  padding: 2em 0 2em 0;
  display: grid;
  grid-template-columns: var(--grid-standard-template);
}


/* nav section in the maincontent which has the progressbar  */
main nav > h1, progress, p, ol {
  grid-column-start:2;
  grid-column-end:2;
  justify-self: center;
}

/* progress Bar main styling */

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color:white;
  border-radius: 2em;
  width: 18em;
  height: 1rem;
}

/* mozilla firefox styling of the progress bar. */
progress[value]::-moz-progress-bar {
  background-color: orange;
  width: 10em;
  border-radius: 2em;
}


article {
  display: grid;
  grid-template-columns: var(--grid-standard-template);
  padding: 2em 0 2em 0;
}


article > h1, figure {
  grid-column-start:2;
  grid-column-end:2;
  justify-self: center;
}


figure {
  max-width: 20em;
  max-width: min-content;
}

figure > img {
  max-width: inherit;
}


/* section which contains the messaging and has the textbox */

section {
  background: linear-gradient(190deg, rgba(255, 179, 47, 1.000) 15%, #657 65%, rgba(255, 67, 137, 1.000) 0);
  background-size: 9% 100%;
  animation: backgroundAnimation 20s ease infinite;
  padding: 2em 0 2em 0;
  display: grid;
  grid-template-columns: var(--grid-standard-template);
}

section > ol {
  list-style: none;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 2;
}

ol:nth-child(1) > li {
  background-color: rgba(69, 122, 210, .8);
  color: white;
  width: 35vw;
  padding: .9em;
  margin: 1em;
  margin-left: 5em;
  border-radius: 1em;
}

ol:nth-child(1) > li:nth-child(even) {
  background-color: white;
  color: black;
  margin-left: 0;
  border-radius: 1em;
  padding: .9em;
  width: 35vw;
}

ol:nth-child(1) > li:nth-child(odd):hover {
  background-color: rgba(69, 122, 210, 1);
}

section > form {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

[name="field-message"] {
  resize: none;
  height: 4vw;
  min-width: 20vw;
  border: none;
  padding: 1em;
  border-radius: 1em;
}


[for="field-message"] {
  display: none;
}

section form > button {
  margin: 2em 0 2em 0;
  justify-self: center;
}

button[type="submit"] {
  margin-left: 2em;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  padding: 2em 4em 2em 4em;
  border-radius: 4em;
}

li footer:last-child {
  text-align: right;
  font-size: .7em;
}

body > #login {
  display: none;
}

#login:target {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login:target > [method="post"] {
  position: relative;
  max-width: 50%;
  padding: 3em;
  margin: 0;
  background-color:rgba(255, 255, 255, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation: var(--animation-fadein);
}

body > [method="post"] {
 display: flex;
 flex-direction: row;
 align-items: center;
}

body > form > button {
  margin: 2em 0 2em 0;
}

input {
  padding: .25em;
  font-size: 1em;
  margin-bottom: 1em;
  width: 100%;
  transition: var(--transition);
}

input:focus {
  transform: scale(1.01, 1.01);
}

[type="email"]:invalid {
  background: rgba(255,0,0,.1);
}

[type="email"]:valid {
  background: rgba(0,255,0,.1);
}

fieldset {
  max-width: 20em;
  margin: auto;
  border: none;
}

@media all and (min-width: 60em) {
  fieldset {
    max-width: 30em;
  }
}

fieldset > legend {
  padding-top: 2em;
}

fieldset > label {
  display: inline-block;
  margin: 2em .4em 0 .4em;
  text-align: center;
}


label > svg {
  width: 5vw;
  filter: grayscale(80%) blur(0.3em);
}

[name="rating"] {
  position: absolute;
  left: -999px;
}

[name="rating"]:focus {
  outline: none;
}

[name="rating"]:focus + label > svg, [name="rating"]:checked + label > svg, [name="rating"]:hover + label > svg{
  filter: none;
  outline: none;
  animation: var(--animation-bounce);
}

[name="rating"]:focus + label > p, [name="rating"]:checked + label > p, [name="rating"]:hover + label > p {
  visibility: visible;
  animation: var(--animation-labelfade);
}


input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);
}

input[type="checkbox"] + label::before {
	content: '\a0';
	display: inline-block;
	width: .8em;
	height: .8em;
  margin: 1em .2em 0 0;
	border-radius: .2em;
	background: rgba(211, 211, 211, 1);
	text-indent: .15em;
	line-height: .65;
}

input[type="checkbox"]:disabled + label::before {
  background: gray;
  box-shadow: none;
  cursor: not-allowed;
}

input[type="checkbox"]:checked + label::before {
	content: '\2713';
  background-color: lightgreen;
}

input[type="checkbox"]:focus + label::before {
	box-shadow: 0 0 .1em .1em #58a;
}

a[href="/"] , label[for="field-stay-logged-in"] {
  display: block;
  padding-bottom: 1.3em;
}

#login > form > [type="submit"] {
  display: flex;
  margin: auto;
  padding: 2em 4em 2em 4em;
  border-radius: 4em;
}


/* Browser specific  */

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2em;
  border: .1em solid #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}

progress[value]::-webkit-progress-value {
  background-color: rgba(250, 54, 53, 1.000);
  border-radius: 2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

main > footer [name="rating"] {
  position: initial;
  left: initial;

}

footer > [name="rating"]:focus + body, [name="rating"]:checked + body{
  filter: url(#protanopia);
  outline: none;
  animation: var(--animation-bounce);
}

[name="rating"]:focus + body, [name="rating"]:checked + body {
  visibility: visible;
  animation: var(--animation-labelfade);
}
